.shrink {
    padding: 3rem;
}

.projecttwo {
    justify-content: center;
    align-items: center;
    background-color: #f5eed2;
    padding-bottom: 3rem;
    margin: 0 1rem 0 0;
}

.snacktime-image {
    padding: 3rem;
    width: 90%;
}

.buttons {
    margin: 1rem 1rem 1rem 0;
}
